.body{
	background-color: #001193;
}
.noHighlight {
    text-align: center;
    background-color: white;
}
.stage {  
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around; 
  margin-top: 6px;
}

.highlight{
	text-align: center;
	background-color: red;
}
.button{
	text-align: center;	
}